YOUTUBE_KEY_1=your_youtube_api_key_1
YOUTUBE_KEY_2=your_youtube_api_key_2
YOUTUBE_KEY_3=your_youtube_api_key_3
GOOGLE_CLIENT_ID=your_google_client_id
PORT=5000
MONGODB_URI=your_mongodb_connection_string
